/*
//------------------ Global background---------------*/

.theme--dark.v-application {
  background-color: #121212;
}

.theme--light.v-application {
  background-color: #fafafa;
}

/*// -------------- Header ---------------------------*/
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #121212;
  margin-top: -1px;
  border-bottom: 1px solid #2f2f2f;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #fff;
  margin-top: -1px;
  border-bottom: 1px solid #e0e0e0;
}

/*// -------------- v-list ---------------------------*/
.theme--dark.v-list {
  background: #121212;
}

.theme--light.v-list {
  background: #ffffff;
}

/*
//------------------------ v-card-------------------------
*/

.theme--dark.v-card {
  background-color: #121212;
  color: #ffffff;
}

/*

//-------------------------- nav-bar---------------------------
*/

.theme--dark.v-navigation-drawer {
  background-color: #121212;
}

/*//----------------------------V-Menu--------------------------*/

.v-menu__content {
  overflow-y: inherit;
  overflow-x: inherit;
  contain: inherit;
  max-height: 500px !important;
  max-width: 100%;
  text-align: left;
}

.theme--light .v-card .v-data-table__wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
}

.theme--light .v-card .v-data-table__wrapper::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.theme--light .v-card .v-data-table__wrapper::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 1px #e6e6e6;
  border-radius: 7px;
}

.theme--dark .v-card .v-data-table__wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.theme--dark .v-card .v-data-table__wrapper::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.theme--dark .v-card .v-data-table__wrapper::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 1px #202020;
  border-radius: 7px;
}
