.ag-theme-alpine .ag-cell-data-changed {
  background-color: #c4edd1 !important;
}

.qc-coin-icon {
  width: auto !important;
  height: 17px !important;
  padding-right: 8px;
  margin-top: -3px;
  vertical-align: middle;
}

.grid-cell-centered {
  justify-content: center !important;
}

/* Cell padding*/
.ag-theme-alpine-dark .ag-cell {
  padding-left: 12px;
  padding-right: 12px;
}

.ag-theme-alpine .ag-cell {
  padding-left: 12px;
  padding-right: 12px;
}

/*Header Padding*/
.ag-theme-alpine-dark .ag-header-cell, .ag-theme-alpine-dark .ag-header-group-cell {
  padding-left: 12px;
  padding-right: 12px;
}

.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
  padding-left: 12px;
  padding-right: 12px;

}


.coin-link:hover {
  color: #536aff !important;
  font-weight: 500 !important;
}

.ag-theme-alpine-dark .ag-root-wrapper {
  border: solid 1px #404040;
  border-left: 0;
  border-right: 0;
}

.ag-theme-alpine .ag-root-wrapper {
  border: solid 1px #BABFC5;
  border-left: 0;
  border-right: 0;
}

///* Bottom Border of Grid Header */
//.ag-theme-alpine-dark .ag-header {
//  border-bottom: 1px solid #404040 !important;
//  color: #BABFC5;
//}

.ag-row .ag-cell {
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center;
}

.green-1 {
  background-color: #ebf9f0;
}

.green-2 {
  background-color: #d8f3e1;
}

.green-3 {
  background-color: #c4edd2;
}

.green-4 {
  background-color: #b1e7c3;
}

.red-1 {
  background-color: #fdeae8;
}

.red-2 {
  background-color: #fbd4d0;
}

.red-2-light {
  background-color: #fbd4d0;
}

.red-2-dark {
  color: red;
}

.red-3 {
  background-color: #f9bfb9;
}

.red-4 {
  background-color: #f7aaa1;
}

.yellow-4 {
  background-color: #fde59b;
}

.yellow-4-light {
  background-color: #fde59b;
}


.yellow-4-dark {
  color: #fde59b;
}

.green-1-color {
  color: #ebf9f0;
}

.green-2-color {
  color: #d8f3e1;
}

.green-3-color {
  color: #c4edd2;
}

.green-4-color {
  color: #b1e7c3;
}

.red-1-color {
  color: #fdeae8;
}

.red-2-color {
  color: #fbd4d0;
}

.red-3-color {
  color: #f9bfb9;
}

.red-4-color {
  color: #f7aaa1;
}

.yellow-4-color {
  color: #fde59b;
}


