// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.no-border {
  border: 0px !important;
}

input:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9CA2B8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9CA2B8;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9CA2B8;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  font-size: 13px !important;
}

.theme--dark.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  border-bottom: 1px solid #68686d !important;
  color: white;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  border-bottom: 1px solid #BABFC4 !important;

}

.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table--dense > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > td {
  height: 23.2px !important;
}

#defi-assets tbody tr:hover,
#recent-transactions tbody tr:hover,
#balances-grid tbody tr:hover,
#aave-balances tbody tr:hover,
#aave-assets tbody tr:hover,
#base-grid tbody tr:hover {
  //background-color: rgba(20, 67, 255, 0.17);
  background-color: rgba(83, 106, 246, 0.1);
}
