// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary-color-filter: invert(52%) sepia(57%) saturate(4371%) hue-rotate(213deg) brightness(90%);

a {
  text-decoration: none;
}

.text-transform-none {
  text-transform: none;
}

.cursor-text {
  cursor: text;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-copy {
  cursor: copy;
}

.cursor-copy:active {
  cursor: progress;
}

.disable-events {
  pointer-events: none;
}

.no-border {
  border: 0 !important;
}

input:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9CA2B8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9CA2B8;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9CA2B8;
}

.text-clamp-1 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-clamp-2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-clamp-4 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.token-link:hover {
  color: #536aff !important;
  font-weight: 500 !important;
}

.text-hover-primary:hover {
  color: #536aff !important;
}


// SLoading skeleton

.theme--dark.v-skeleton-loader .v-skeleton-loader__actions,
.theme--dark.v-skeleton-loader .v-skeleton-loader__article,
.theme--dark.v-skeleton-loader .v-skeleton-loader__card-heading,
.theme--dark.v-skeleton-loader .v-skeleton-loader__card-text,
.theme--dark.v-skeleton-loader .v-skeleton-loader__date-picker,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-text,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-two-line,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar-two-line,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-three-line,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar-three-line,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-heading,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-thead,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-tbody,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-tfoot {
  background: transparent;
}


//Global background

.theme--dark.v-application {
  background-color: #121212;
}

.theme--light.v-application {
  background-color: #fafafa;
}

//  Header
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #121212;
  margin-top: -1px;
  border-bottom: 1px solid #2f2f2f;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #fff;
  margin-top: -1px;
  border-bottom: 1px solid #e0e0e0;
}

//  v-list
.theme--dark.v-list {
  background: #121212;
}

.theme--light.v-list {
  background: #ffffff;
}

//v-card
.theme--dark.v-card {
  background-color: #121212;
  color: #ffffff;
}


//nav-bar
.theme--dark.v-navigation-drawer {
  background-color: #121212;
}

// V-Menu
.v-menu__content {
  overflow-y: inherit;
  overflow-x: inherit;
  contain: inherit;
  max-height: 500px !important;
  max-width: 100%;
  text-align: left;
}

// V-Scroller

//DATA TABLE
.theme--light .v-card .v-data-table__wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
}

.theme--light .v-card .v-data-table__wrapper::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.theme--light .v-card .v-data-table__wrapper::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 1px #e6e6e6;
  border-radius: 7px;
}

.theme--dark .v-card .v-data-table__wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.theme--dark .v-card .v-data-table__wrapper::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.theme--dark .v-card .v-data-table__wrapper::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 1px #202020;
  border-radius: 7px;
}

// v-cards and v-sheets scroller
.theme--dark.v-card.v-sheet.v-sheet--outlined {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 1px #202020;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #202020;
    border-left: 1px solid #2c2c2c;
  }
}

.theme--light.v-card.v-sheet.v-sheet--outlined {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #e6e6e6;
  }

  ::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: solid 1px #e6e6e6;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-left: 1px solid #dadada;
  }
}

// V-table and V-Datatable */

tbody {
  tr:hover {
    background-color: rgba(83, 106, 246, 0.1) !important;;
  }
}

.theme--dark.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  color: white;
}

.theme--dark.v-tabs > .v-tabs-bar {
  background-color: #121212;
}

.theme--dark.v-data-table {
  background-color: transparent;
  color: #ffffff;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  height: 32px;
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
  box-shadow: none;
}


// Dialog scroller
.v-dialog__content {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 1px #202020;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #202020;
    border-left: 1px solid #2c2c2c;
  }
}

// CUSTOM
.underline-glow-active, .underline-glow-hover{
  display: inline;
  background-image: linear-gradient(#48a5be, #807bae, #a25fa4);
  height: 22px;
  background-size: 0% 2px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background 0.3s linear;
  animation: rotate 1.5s linear infinite;
}

.underline-glow-active,  .underline-glow-hover:hover{
  color: grey;
  background-size: 100% 2px;
}

// for custom svg color
.color-icon-primary:hover {
  filter: $primary-color-filter;
}
